<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!-- =========================
       Mirror / Repository settings
       ========================= -->
 <repositories>
    <repository>
        <id>codeartifact</id>
        <url>https://csatechlabs-artifactory-851725569228.d.codeartifact.us-east-1.amazonaws.com/maven/csa-artifactory/</url>
    </repository>
</repositories>


  <!-- =========================
       Repositories Authentication
       ========================= -->
  <servers>
    <server>
      <id>codeartifact</id> <!-- Must match <repository><id> in pom.xml -->
      <username>aws</username>
      <!-- Option 1: Paste token directly (expires in 12h) -->
      <password>${CODEARTIFACT_AUTH_TOKEN}</password>

      <!-- Option 2: Use environment variable for token -->
      <!--<password>${env:CODEARTIFACT_AUTH_TOKEN}</password> -->
    </server>
  </servers>



</settings>

